.modal {
  height: 90%;
  width: auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: scroll;
  background: white;
}
p {
  height: 10px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
  margin: 10px;
}
.label {
  font-weight: bold;
  color: #e54e7f;
}
#retailer {
  font-size: 25px;
}
button {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: #fffa5b;
  border-radius: 5px;
}
