<p>Index: {{ index }}</p>

<!-- <span
  class="circle"
  [style.background]="getImage(order.retailer)"
  [style.background-repeat]="'no-repeat'"
  [style.background-size]="'90px'"
  [style.background-position]="'center'"
></span> -->
<p>{{ orderForModal.retailer }}</p>
<p>Order # {{ orderForModal.orderNum }}</p>
<p>{{ orderForModal.orderTotal }}</p>
<p>Est. Delivery Date: {{ orderForModal.estArrivalDate }}</p>
<p>Snippet: {{ orderForModal.snippet }}</p>
<p>{{ orderForModal.internalDate }}</p>
<p>{{ orderForModal.dateTime }}</p>

<button>X</button>

<!-- !orderForModal.body.Text -->
<!-- <div [innerHtml]="htmlData"></div> -->
