<!-- <span
  class="circle"
  [style.background]="getImage(order.retailer)"
  [style.background-repeat]="'no-repeat'"
  [style.background-size]="'90px'"
  [style.background-position]="'center'"
></span> -->

<!-- <div class="modal">
  <p class="label" id="retailer">{{ orderForModal.retailer }}</p>
  <p class="label">Order Number:</p>
  <p>{{ orderForModal.orderNum }}</p>
  <p class="label">Total:</p>
  <p>{{ orderForModal.orderTotal }}</p>
  <p class="label">Est. Delivery Date:</p>
  <p>{{ orderForModal.estArrivalDate }}</p>
  <p class="label">Summary:</p>
  <p>{{ orderForModal.snippet }}</p>
  <button (click)="showModal()">X</button>
</div> -->

<div>
  <div [innerHtml]="dynamicHTML"></div>
</div>
<p *ngIf="{ dynamicHTML: '<div></div>' }">{{ plainText }}</p>
<button (click)="hideModal()">X</button>
