<div class="body">
  <button (click)="splitIdsOff()">Split Id's</button>
  <button (click)="getEmailContent()">Email Content</button>
  <button (click)="showEmailData()">Email Data</button>
  <button (click)="showMessageData()">Message Data</button>
  <button (click)="sortingEmails()">Sorting Data</button>
  <div class="order" *ngFor="let message of messageData">
    <div class="circle"></div>
    <p>{{ message.snippet }}</p>
  </div>

  <div *ngFor="let message of messageData">
    <p>{{ message.snippet }}</p>
  </div>
</div>
