/* .body{
  display: grid;
  grid-auto-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-auto-rows: auto;
  width: 200px;
  height: 200px;
} */
.order {
  border: 1.5px solid hotpink;
  border-radius: 20px;
  height: 100px;
  width: 80%;
  margin: 30px;
  background: white;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.circle {
  border: 1px solid hotpink;
  border-radius: 50%;
  min-height: 25px;
  min-width: 25px;

  margin: 15px;
  /* display: inline-block; */
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
