<div class="body">
  <!-- <button (click)="splitIdsOff()">Split Id's</button>
  <button (click)="getEmailContent()">Email Content</button>
  <button (click)="showEmailData()">Show Email Data</button>
  <button (click)="decodeData()">Decode Data</button>
  <button (click)="showMessageData()">Message Data</button>
  <button (click)="sortingEmails()">Sorting Data</button> -->

<!-- todo: Needs to reference the new array of objects built from the regex-->

<div class="order" *ngFor="let order of orders">
  <span class="circle"></span>
  <div class="text">
    <p>Retailer: {{ order.retailer }}</p>
    <p>Order #: {{ order.orderNum }}</p>
    <p>{{ order.orderTotal }}</p>
    <p>Est. Delivery Date: {{ order.estArrivalDate }}</p>
  </div>
</div>

