nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.mobileNav {
  width: 100%;
  visibility: visible;
}
.desktopNav {
  visibility: hidden;
  width: 100%;
}
app-mail {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  .mobileNav {
    visibility: hidden;
    position: absolute;
  }
  .desktopNav {
    visibility: visible;
  }
}
