<div>
  <div class="whole" id="first" *ngIf="showFirst" (click)="togglePageOne()">
    <img id="logo" src="assets/mootLogo.gif" alt="logo" />
    <section id="threeDots">
      <object class="dotFilled"></object>
      <object class="dot"></object>
      <object class="dot"></object>
    </section>
  </div>
  <div class="whole" id="second" *ngIf="showSecond" (click)="togglePageTwo()">
    <img
      id="onboard2"
      src="../../assets/onboard2.gif"
      alt="handshake agreement"
    />
    <section id="threeDots">
      <object class="dot"></object>
      <object class="dotFilled"></object>
      <object class="dot"></object>
    </section>
  </div>
  <div class="whole" id="third" *ngIf="showThird">
    <img src="assets/handshake1.png" alt="handshake agreement" />
    <div class="onThree">
      <p>We will find your online order emails so you do not have to!</p>
      <p>Your security is our priority</p>

      <p>Sign in with your Gmail to get started!</p>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <section id="threeDots">
      <object class="dot"></object>
      <object class="dot"></object>
      <object class="dotFilled"></object>
    </section>
  </div>
</div>
