/* You can add global styles to this file, and also import other style files */
.abcRioButtonContentWrapper {
  background: #e54e7f;
  text-color: white;
}
body {
  background-color: #b4f8c8;
}
@media only screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
}
